<div class="mainDiv">

    <table class="my_table">
        <tr>
          <th>DRIVER NAME</th>
          <th>DATE OF THE INFRINGEMENT</th>
          <th>TIME OF THE INFRINGEMENT</th>
          <th>SHORT DESCRIPTION</th>
        </tr>
        <tr>
        
          <tr>
          <td>Apeddu Giovanni</td>
          <td>07/03/2021</td>
          <td>10:45</td>
          <td>Riposo settimanale inferiore a 
            45h</td>
        </tr>
          <tr>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
          <tr>
          <td>text</td>
          <td>text</td>
          <td>text</td>
          <td>text</td>
        </tr>
         
         
      </table>
</div>
