<div class="modal" >
	<div class="modal-overlay" (click)="close($event)"></div>
	<div class="modal--modal-content" *ngIf="modalTitle!='Infringement'">
		<a class="modal--close-btn" (click)="close($event)">X</a>

		<div class="tbl-header"  >
			<table cellpadding="0" cellspacing="0" border="0">
				<thead style="background-color: #00beee">
					<tr>
						<th>Driver Details</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="tbl-content">
			<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr>
						<td>Name</td>
						<td>{{modalText.name}}</td>
					</tr>
					<tr>
						<td>Code</td>
						<td>{{modalText.id}}</td>
					</tr>
					<tr>
						<td>E-mail</td>
						<td>{{modalText.email}}</td>
					</tr>
					<tr>
						<td>Patente di guida</td>
						<td>{{modalText.Patentediguida}}</td>
					</tr>
					<tr>
						<td>Patente professionale</td>
						<td>{{modalText.Patenteprofessionale}}</td>
					</tr>

					<tr>
						<td>Scadenza carta</td>
						<td>{{modalText.Scadenzacarta}}</td>
					</tr>
					<tr>
						<td>Ruolo nell'azienda</td>
						<td>{{modalText.Ruolonellazienda}}</td>
					</tr>
					<tr>
						<td>Description</td>
						<td>{{modalText.desc}}</td>
					</tr>
					<tr>
						<td>Phone number</td>
						<td>{{modalText.phone}}</td>
					</tr>
					<tr>
						<td>Card Expiry</td>
						<td>{{modalText.cardExpiry}}</td>

					</tr>
					<tr>
						<td>Date of employment</td>
						<td>{{modalText.dateofemp | date}}</td>
					</tr>
					<tr>
						<td>Creation Date</td>
						<td>{{modalText.joindate | date}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="modal--modal-content-inf" *ngIf="modalTitle=='Infringement'" >
		<a class="modal--close-btn" (click)="close($event)">X</a>
		<a class="modal--close-btn1 print" (click)="print($event)"></a>
		<div id="modal-inf">
			<div class="tbl-header"  >
				<table cellpadding="0" cellspacing="0" border="0" class="infringement">
					<thead >
						<tr>
							<th colspan="4" class="title">INFRINGEMENT AND SANCTIONS</th>
						</tr>
						<tr>
							<td>Account name</td>
							<td>{{modalText.account_name}}</td>
							<td>Company name</td>
							<td>{{modalText.company_name}}</td>
						</tr>
						<tr>
							<td>Inspecter name</td>
							<td>{{modalText.inspecter_name}}</td>
							<td>Site</td>
							<td>{{modalText.site_name}}</td>
						</tr>
						<tr>
							<td>Driver name</td>
							<td>{{modalText.driver_name}}</td>
							<td>Card number</td>
							<td>{{modalText.driver_card}}</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0" style="background-color: #00beee" class="infringement">
					<tbody >
						
						<tr>
							<td>Date of the Infringement</td>
							<td>{{modalText.driver_date}}</td>
							<td>Time of the Infringement</td>
							<td>{{modalText.driver_time}}</td>
						</tr>
						<tr>
							<td>Description</td>
							<td>{{modalText.driver_description}}</td>
						</tr>
						<tr>
							<td colspan="4"><img src="{{modalText.driver_description_image}}" width="500px"/></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>