<div class="mainDiv">
    <div class="container">
        <div class="title">CUSTOMER DOCUMENTS</div>
        <div class="mainBody">
            <form action="">
                <div class="inputBoxes">
                    <label for="name">Account name</label>
                    <input type="text" name="name">
                </div>
                <div class="inputBoxes">
                    <label for="name">Company name
                    </label>
                    <input type="text" name="name">
                </div>
                <div class="inputBoxes">
                    <label for="name">Ispector name</label>
                    <input type="text" name="name">
                </div>
                <div class="inputBoxes">
                    <label for="name">Site</label>
                    <input type="text" name="name">
                </div>
            </form>
        </div>
    </div>
</div>
